header a{
    text-decoration: none;
    color:aliceblue;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/*Make the padding for the introduction, it being coning the 50% of the horizontal side */

.introParagraph {
    padding: 0 2rem;
    max-width: 500px;
    margin: auto;
}

body {
    font-family:"Consolas", monospace;
    background: linear-gradient(rgba(9, 6, 47, 0.86), rgba(19, 15, 88, 0.86));
    line-height: 1.6em;
}

header {
    padding-top: 1rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

.name {
    font-size: 3.0rem;
    color: aliceblue;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-family: "Press Start 2P", sans-serif;
    margin-bottom: 1.5rem;
    max-width: 500px;
    margin: auto;
    line-height: 1.2;
}

.introParagraph, .aboutParagraph, .contactParagraph {
    text-align: center;
    color:rgb(3, 208, 211);
    font-size: 1.2rem;
    font-family: 'Consolas', monospace;
    max-width: 500px;
}

.introParagraph a {
    text-decoration: none;
    color: rgb(2, 152, 155);
    font-weight: bold;
}

/* div.logo {
    padding-left: 1rem;
} */

nav.navbar {
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: auto;
}

nav.navbar a:hover {
    color:rgb(2, 152, 155);
}

.introParagraph a:hover {
    color: rgb(132, 246, 246);
}

/* div.logo a:hover {
    color: rgb(132, 246, 246);
} */

div.socialsLinks {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 20px;
}

.socialsLinks img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    object-fit: cover;
    cursor: pointer;
}

main {
    margin-top: 4rem;
}

#aboutSection {
    text-align: center;
}

.aboutParagraph {
    text-align: center;
    margin: auto;
}

main section {
    min-height: 100vh;
}

.aboutHeading{
    color:aliceblue;
    font-family: "Press Start 2P", sans-serif;
    font-size: 1.5rem;

}

.subjectsList{
    text-decoration:none;
    color:aliceblue;
    margin-top:1rem;
}

.aboutHeading {
    margin-top : 2rem;
    
}

.subjectsList:hover {
    color: rgb(2, 152, 155);
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.projectItem {
    border: 2px solid rgb(2, 115, 117);
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
    color:aliceblue;
    padding: 20px;
    background: linear-gradient(rgba(9, 6, 47, 0.86), rgba(19, 15, 88, 0.86));
   
}

.projectLink {
    text-decoration: none;
    color: aliceblue;
}
.projectLink:hover {
    color: rgb(2, 152, 155);
}

.projectHeading {
    text-align: center;
    margin-bottom: 2rem;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: "Press Start 2P", sans-serif;
}

.projectH2 {
    color: rgb(157, 40, 235);
    margin-bottom: 1rem;
}

.projectContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

#contactSection {
   display:flex;
   flex-direction: column;
   align-items: center;
}

.contactButton {
    font-family: "Consolas", monospace;
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
    border:rgb(2, 115, 117) solid 5px;
    background-color: transparent;
    cursor: pointer;
    color: rgb(3, 208, 211);
    font-weight: bold;
}

.contactButton:hover {
    background-color: rgb(3, 208, 211);
    color: black;
}
